<section class="historia container">
  <article>
    <div class="imagem_historia">
      <figure>
        <img
          src="assets\Imagens\historia.svg"
          alt="Mulher com um cookie com um coração no centro"
        />
      </figure>
    </div>

    <div class="materia_historia">
      <h2>Onde tudo começou</h2>
        <p>
          A tradição da confeitaria começou na minha família em 1926.
        </p>
        <p>
          Para nós, oferecer docinhos é um ato de amor capaz de
          transformar o dia de qualquer pessoa.
        </p>
        <p>
          O prazer virou ofício, e nosso legado se consolida em cada encomenda.
        </p>
    </div>
  </article>
</section>
