@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Architects+Daughter&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Architects Daughter", sans-serif;
  color: #4a4949;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  width: 60em;
  max-width: 100%;
  margin: 0 auto;
}

.sucesso,
.fracasso {
  width: fit-content;
  height: 2.2em;

  margin-bottom: 1em;

  border-radius: 1em;
  background-color: rgb(131, 236, 131);
}

.fracasso {
  background-color: #f65f5f;
}

.sucesso p,
.fracasso p {
  /* font-size: 1.4em; */
  padding-left: 0 1em;

  color: #4a4949;
}
